<div class="flex items-center justify-center">
    <div class="container">
        <div class="pt-10 text-question-title w-1/3 rounded-sm mx-auto">
            <h1 class="text-1xl md:text-3xl py-5 bg-question-titlebg text-center opacity-80 rounded-full"><%= t '.title' %></h1>
        </div>
        <div>
            <%= render partial: 'shared/display', locals: { question: @question, choices: @choices } %>
        </div>
    </div>
</div>