<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<!-- CSS -->
	<link rel="stylesheet" href="./custom.css"/>
	<!-- JavaScript -->
	<script src="//cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
	<script src="./main.js" defer></script>
</head>
<body>
	<!-- Chart -->
	<canvas id="my-chart" height="400"></canvas>
</body>
</html>