<div class="container text-center mx-auto">
    <h1 class="text-black-300 text-9xl text-center pt-28">FoodFit</h1>
    <h2 class="text-black-400 text-5xl text-center pt-12"><%= t '.explanation' %></h2>
    <div class="container mx-auto text-white text-center opacity-80 text-3xl pt-10 w-4/12">
        <div>
            <%= link_to "Login", login_path, method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block h-14", form_class: "inline-block" %>
        </div>
        <div>
            <%= link_to "sign up", new_user_path, method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block h-14", form_class: "inline-block" %>
        </div>
    </div>
</div>