<div class="container text-center mx-auto">
    <h1 class="text-button-color text-3xl text-center pt-28 md:text-7xl lg:text-7xl">FoodFit</h1>
    <h2 class="text-button-color text-1xl text-center pt-12 md:text-3xl lg:text-3xl"><%= t '.explanation' %></h2>
    <!--
    <div class="container mx-auto text-white text-center opacity-80 text-3xl pt-10 w-4/12">
        <div>
            <%= link_to "Login", login_path, method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block h-14", form_class: "inline-block" %>
        </div>
        <div>
            <%= link_to "sign up", new_user_path, method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block h-14", form_class: "inline-block" %>
        </div>
    </div>
    -->
    <div class="mt-20">
        <p class="text-3xl font-medium">コンセプト</p>
        <p class="mt-3">FoodFitをご覧いただきありがとうございます！</p>
        <p class="mt-3">このアプリでは栄養について気軽に学べることを目標としています</p>
        <p class="mt-3">栄養は、健康的に過ごす上で必要不可欠なものです</p>
        <p class="mt-3">一度栄養の知識を身につけたら、それは一生の財産になります</p>
        <p class="mt-3">一緒に楽しく栄養について学んでいきましょう！</p>
    </div>


</div>