<div class="container text-center mx-auto">
    <h1 class="text-black-300 text-9xl text-center pt-28">FoodFit</h1>
    <h2 class="text-black-400 text-5xl text-center pt-12">健康な食を学ぶアプリ</h2>

    <div>
        <button class="text-white bg-button-color p-20 text-center rounded-xl py-2 w-3/12 mt-12 mb-5 mx-auto opacity-80 block">Login</button>
    </div>
    <div>
        <button class="text-white bg-button-color p-20 text-center rounded-xl py-2 w-3/12 my-5 mx-auto opacity-80 block">sign up</button>
    </div>
</div>