<div class="container text-center mx-auto">
    <h1 class="text-black-300 text-9xl text-center pt-28">FoodFit</h1>
    <h2 class="text-black-400 text-5xl text-center pt-12">健康な食を学ぶアプリ</h2>
    
    <div>
        <%= button_to "Login", login_path, method: :get, class: "text-white bg-button-color p-20 text-center rounded-xl py-2 opacity-80 block mt-5", form_class: "inline-block" %>
    </div>
    <div>
        <%= button_to "sign up", new_user_path, method: :get, class: "text-white bg-button-color p-20 text-center rounded-xl py-2 opacity-80 block mt-5", form_class: "inline-block" %>
    </div>
</div>