<div class="container text-center mx-auto">
        <h1 class="tmx-auto text-5xl text-black-200 pt-20"><%= t '.title' %></h1>

        <div class="text-white text-center opacity-80 text-4xl px-36 pt-10">
            <div>
                <%= link_to "栄養の必要性を学ぶ！", "#", method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block py-2", form_class: "inline-block" %>
            </div>
            <div>
                <%= link_to "食べ物の栄養を学ぶ！", "#", method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block py-2", form_class: "inline-block" %>
            </div>
            <div>
                <%= link_to "間違えた問題を復習する！", "#", method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block py-2", form_class: "inline-block" %>
            </div>
        </div>
</div>