<div class="container text-center mx-auto  dark:text-black">
        <h1 class="tmx-auto text-2xl text-black-200 pt-20 md:text-5xl"><%= t '.title' %></h1>

        <div class="text-white text-center opacity-80 md:text-4xl px-36 pt-10 text-sm">
            <div class="my-link">
                <%= link_to "栄養の必要性", nutrition_display_questions_path, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block py-2", form_class: "inline-block" %>
            </div>
            <div class="my-link">
                <%= link_to "食べ物の栄養", compound_display_questions_path, method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block py-2", form_class: "inline-block" %>
            </div>
            <!--
            <div>
                <%= link_to "問題を復習する", "#", method: :get, class: "bg-button-color hover:bg-hover-color rounded-xl my-5 block py-2", form_class: "inline-block" %>
            </div>
            -->
        </div>
</div>