<header>
    <div class="w-full flex mx-auto mt-26 text-center bg-header-color opacity-80 text-white h-16 py-5 md:h-28 md:py-10">
        <div class="mx-3 md:mx-6 text-3xl">
            <%= link_to "FoodFit", root_path %>
        </div>
        <div class="mx-3 md:mx-6">
            <%= link_to "ログイン", login_path %>
        </div>
        <div class="mx-3 md:mx-6">
            <%= link_to "新規登録", new_user_path %>
        </div>
    </div>
</header>