<header>
    <div class="w-full flex mx-auto mt-26 text-center bg-header-color opacity-80 text-white h-16 py-5 md:h-28 md:py-10">
        <div class="mx-3 md:mx-6 my-link">
            <a href="<%= root_path %>" class="flex items-center text-white">
                <i class="fas fa-utensils text-2xl md:text-4xl mb-1"></i>
                <span class="ml-3 text-xl md:text-2xl font-bold font-HiraMinProN-W6">FoodFit</span>
            </a>
        </div>
        <div class="mx-3 md:mx-6 my-link">
            <%= link_to "新規登録", new_user_path %>
        </div>
        <div class="mx-3 md:mx-6 my-link">
            <%= link_to "ログイン", login_path %>
        </div>
    </div>
</header>