<div>
    <div>
        <%= @question.reason %>
    </div>
    <div>
        <%= button_to '問題選択画面へ', question_tops_index_path, class: 'btn btn-danger mx-1', method: :get %>
        <%= button_to '次の問題へ', nutrition_display_questions_path, class: 'btn btn-danger mx-1', method: :get %>
    </div>
</div>