<footer class="footer-bottom">
  <div class="container flex mx-auto mt-40 text-center bg-footer-color opacity-80 text-white h-28 py-10">
    <div class="flex-1">
      <button>プライバシー・ポリシー</button>
    </div>
    <div class="flex-1">
      <button>利用規約</button>
    </div>
    <div class="flex-1">
      <button>お問い合わせ</button>
    </div>
  </div>
  <!--
  <div class="flex justify-left pt-3 px-10">
    <div class="text-black-300 mx-6">@Copyright</div>
    <div class="text-black-300 mx-6">2023 </div>
    <div class="text-black-300 mx-6">Aoyama Chisato</div>
  </div>
  -->
</footer>