<footer class="footer-bottom">
  <div class="w-full text-center bg-footer-color opacity-50 h-16 py-5 md:h-28 md:py-10">
    <div class="flex mx-auto text-white ">
      <div class="flex-1 text-xs md:text-lg">
        <button class="hover:underline">プライバシー・ポリシー</button>
      </div>
      <div class="flex-1 text-xs md:text-lg">
        <button class="hover:underline">利用規約</button>
      </div>
      <div class="flex-1 text-xs md:text-lg">
        <a href="https://forms.gle/KfTMmxZQ9oiDkj3B6">
        <button class="hover:underline">お問い合わせ</button>
        </a>
      </div>
    </div>
    <div class="copyright text-center mt-2 text-xs md:text-lg">
      <p class="text-black"> © 2023.FoodFit</p>
    </div>
  </div>
</footer>