<div class="flex items-center justify-center">
    <div class="container">

        <%= render partial: 'shared/errata' %>

        <div class="bg-white py-5 pl-10 mt-10 w-3/5 opacity-70 mx-auto">
            <div>
                <%= @question.reason %>
            </div>
            <div class="flex justify-center mt-5">
                <%= button_to '問題選択画面へ', question_tops_index_path, class: 'btn btn-danger mx-1 bg-button-color hover:bg-hover-color button', method: :get %>
                <%= button_to '次の問題へ', wrong_display_results_path, class: 'btn btn-danger mx-1 bg-button-color hover:bg-hover-color button', method: :get %>
            </div>
        </div>
    </div>
</div>