<div class="container">
    <h1 class="text-3xl pt-10 ml-10"><%= t '.title' %></h1>
    <div class="ml-10 mt-5 bg-blue-400 w-36 text-center">
        <%= link_to t('.new_question'), new_admin_question_path %>
    </div>
    <div class="mt-20 ml-10">
        <!-- 検索フォーム -->
        <div>
        </div>

        <!-- 掲示板一覧 -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        <%= render partial: 'questions/question', locals: { question: @question } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>