/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wrapper {
    background-image: url("bgimg.jpg");
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center;
}

@import '~@fortawesome/fontawesome-free/css/fontawesome';

.button:hover {
    transition: all 150ms;
    transform: scale(1.2);
    transition-duration: 500ms;
}

.my-link:hover {
    transition: all 300ms;
    transform: scale(1.2);
    transition-duration: 500ms;
}