@tailwind base;
@tailwind components;
@tailwind utilities;


.compound-wrapper {
    background-image: url("compound.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}