@tailwind base;
@tailwind components;
@tailwind utilities;

.nutrition-wrapper {
    background-image: url("nutrition.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
}
