
@tailwind base;
@tailwind components;
@tailwind utilities;

.top-wrapper {
    background-color: #EAE0E0;
    position: relative;
    background-image: url("topbg.jpg"); 
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
