
@tailwind base;
@tailwind components;
@tailwind utilities;

.top-wrapper {
    background-color: #EAE0E0;
    position: relative;
    background-image: url("topbg.jpg"); 
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.button:hover {
    transition: all 150ms;
    transform: scale(1.2);
    transition-duration: 500ms;
}

.my-link:hover {
    transition: all 300ms;
    transform: scale(1.2);
    transition-duration: 500ms;
}